################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/SPM Generator/bin/Debug/~$Template 2 Trip.xlsx
/SPM Generator/bin/Debug/~$Template 3 Trip.xlsx
/SPM Generator/bin/Debug/~$Template 3 Trip.xlsx
/SPM Generator/bin/Debug/~$Template 3 Trip.xlsx
/SPM Generator/bin/Debug/~$Template 3 Trip.xlsx
